In [1]:
from sodapy import Socrata
import requests, zipfile, StringIO
import urllib2
import pandas as pd
import pypyodbc
import csv
import os
import tempfile

# Download PLUTO data
(for now, just extracting the Brooklyn file)

In [2]:
r = requests.get('http://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_15v1.zip')
pluto_zip = zipfile.ZipFile(StringIO.StringIO(r.content))

In [3]:
BK = pd.read_csv(pluto_zip.open('BK.csv'))

C:\Anaconda3\envs\py27\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (6,7,8,10,27,50,52,53,77,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
BK.head()

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,YCoord,ZoneMap,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,Version
0,BK,1,1,302,21,2000,13,33,11201,L118,...,196222,12d,,302 007,30101,,3000010001,11/26/2013,1,15v1
1,BK,1,2,302,21,2000,13,33,11201,L118,...,195992,12d,,300 000,30101,,3000010001,11/26/2013,1,15v1
2,BK,1,50,302,21,2000,13,33,11201,L118,...,195989,12d,,302 007,30101,E-231,0,,1,15v1
3,BK,3,1,302,21,3002,13,33,11201,L118,...,196151,12d,,302 007,30101,,0,,1,15v1
4,BK,3,5,302,21,,13,33,11201,L118,...,,12d,,302 007,30101,,0,,4,15v1

In [5]:
# Need to add a boroid as an integer, for joining to other sources
BK['boroid'] = 3

In [6]:
# check out a sample record (my neighbor)
BK.query('Block == 2112 & Lot == 51').values

array([['BK', 2112L, 51L, 302L, '35', '1002', '15', '35', '11217', 'L105',
        '88', '1200', '130 FT GREENE PLACE         ', 'R6B      ',
        '         ', '         ', '         ', '    ', '    ', '      ',
        '      ', '     ', 'R6B                        ',
        '                     ', 'N', 'B9', '1', 0L, ' ',
        'KENNETH Z. MANTELL AS', 1700L, 3440L, 0L, 3440L, 0L, 0L, 0L, 0L,
        0L, 0L, 7L, 1L, 3.0, 2L, 2L, 20.0, 85.0, 20.0, 40.0, '  ', '3',
        'N', '5', '1', 10661L, 36526L, 1610L, 1610L, 1899L, 'E', 0L, 0L,
        'Brooklyn Academy of Music               ',
        '                                   ', 2.02, 2.0, 0.0, 2.0, 3L,
        3021120051L, 0L, 35L, '990751', '189083', '16c', ' ', '302 035 ',
        '30706', '     ', '0', '          ', 1L, '15v1  ', 3L]], dtype=object)

# Get the Multiple Dwelling Registrations and join to PLUTO

In [7]:
client = Socrata("data.cityofnewyork.us", "JbH87Ju4WIAzc35ZUpMxLxFyM")

In [8]:
mdr = client.get("39m2-a2pz", content_type="csv", limit=2000)

In [9]:
mdrdf =pd.DataFrame(mdr)
mdrdf.columns = mdrdf.iloc[0]
mdrdf = mdrdf.reindex(mdrdf.index.drop(0))
mdrdf = mdrdf.convert_objects(convert_numeric=True)

C:\Anaconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [10]:
pd.merge(mdrdf, BK, left_on=['boroid','block','lot'], right_on=['boroid','Block','Lot'])

,bin,block,boro,boroid,buildingid,communityboard,highhousenumber,housenumber,lastregistrationdate,lot,...,YCoord,ZoneMap,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,Version
0,3067452,2692,BROOKLYN,3,309061,1,22,22,2015-10-06T00:00:00.000,49,...,203260,13a,,304 060,30904,,0,,1,15v1
1,3389513,3946,BROOKLYN,3,898323,5,2767,2767,2015-11-09T00:00:00.000,45,...,185775,17c,,316 012,31302,,3039460045,12/8/2006,1,15v1
2,3051566,1822,BROOKLYN,3,330759,3,188,188,2015-11-13T00:00:00.000,41,...,188616,17a,,305 015,30611,,0,,1,15v1
3,3164056,6303,BROOKLYN,3,177933,10,1367,1367,2015-11-20T00:00:00.000,43,...,163313,22b,,311 069,31904,,0,,1,15v1
4,3332526,1415,BROOKLYN,3,863599,9,373,373,2015-11-10T00:00:00.000,2,...,181729,17b,,307 062,30507,,3014150001,10/30/1990,1,15v1
5,3067163,2688,BROOKLYN,3,338530,1,170,170,2015-11-10T00:00:00.000,78,...,203480,13a,,304 050,30904,,0,,1,15v1
6,3035639,1340,BROOKLYN,3,938328,8,1552,1552,2015-11-13T00:00:00.000,17,...,185845,17a,,305 054,30505,,0,,1,15v1
7,3158652,6196,BROOKLYN,3,170076,11,2055,2055,2015-11-10T00:00:00.000,56,...,162003,22d,,312 062,31901,,0,,1,15v1
8,3119002,5168,BROOKLYN,3,226528,17,2424,2424,2015-11-04T00:00:00.000,17,...,173927,23a,,310 033,31603,,0,,1,15v1
9,3390905,5576,BROOKLYN,3,950968,11,6809,6809,2015-11-10T00:00:00.000,7501,...,164540,22d,,312 063,31704,,0,,1,15v1
10,3390903,5576,BROOKLYN,3,950969,11,6813,6813,2015-11-10T00:00:00.000,7501,...,164540,22d,,312 063,31704,,0,,1,15v1
11,3113024,4979,BROOKLYN,3,265490,17,872,872,2015-10-22T00:00:00.000,39,...,172454,23a,,310 078,31510,,0,,1,15v1
12,3122967,5290,BROOKLYN,3,147907,12,1141,1141,2015-11-09T00:00:00.000,14,...,173417,22c,,306A055,31606,,0,,1,15v1
13,3005644,379,BROOKLYN,3,315236,6,167,167,2015-11-05T00:00:00.000,40,...,185608,16c,,301 038,30202,,0,,1,15v1
14,3072849,3204,BROOKLYN,3,380400,4,23,23,2015-11-05T00:00:00.000,44,...,192894,13b,,309 002,31103,,0,,1,15v1
15,3032222,1254,BROOKLYN,3,374132,8,772,772,2015-11-18T00:00:00.000,12,...,183937,17a,,307 038,30502,,0,,1,15v1
16,3031387,1237,BROOKLYN,3,351365,8,1097,1097,2015-11-06T00:00:00.000,83,...,184555,17a,,307 021,30501,,0,,1,15v1
17,3007215,435,BROOKLYN,3,809200,6,275,275,2015-09-02T00:00:00.000,1,...,187650,16c,,301 040,30204,,0,,1,15v1
18,3060369,2206,BROOKLYN,3,313467,1,218,218,2015-11-06T00:00:00.000,27,...,196130,13b,Y,303 027,30802,,0,,1,15v1
19,3225866,8043,BROOKLYN,3,350621,18,7,7,2015-11-17T00:00:00.000,66,...,169115,23c,,317 071,32403,,0,,1,15v1
20,3336640,580,BROOKLYN,3,968503,6,82,82,2015-11-12T00:00:00.000,25,...,184858,16a,,301 027,30207,,3005800025,8/21/2013,1,15v1
21,3413666,580,BROOKLYN,3,968505,6,86,86,2015-11-12T00:00:00.000,25,...,184858,16a,,301 027,30207,,3005800025,8/21/2013,1,15v1
22,3106821,4799,BROOKLYN,3,332336,9,604,604,2015-11-30T00:00:00.000,29,...,180184,17b,,310 049,31506,,0,,1,15v1
23,3172485,6559,BROOKLYN,3,164691,11,2326,2326,2015-11-17T00:00:00.000,17,...,162432,22d,,313 070,32002,,0,,1,15v1
24,3054301,1888,BROOKLYN,3,222767,2,153,153,2015-11-04T00:00:00.000,2,...,191898,16c,Y,302 052,30701,,0,,1,15v1
25,3338417,3062,BROOKLYN,3,301973,1,150,150,2015-11-09T00:00:00.000,1,...,196765,13b,,303 041,31004,,0,,1,15v1
26,3091674,4118,BROOKLYN,3,227585,5,128,126,2015-11-10T00:00:00.000,32,...,189314,17c,,308 023,31305,,3041180032,1/21/1993,1,15v1
27,3052027,1829,BROOKLYN,3,317122,3,311,311,2015-11-09T00:00:00.000,59,...,188500,17a,,305 031,30611,,0,,1,15v1
28,3074432,3268,BROOKLYN,3,396854,4,229,229,2015-11-12T00:00:00.000,8,...,193863,13b,,309 039,31104,,0,,1,15v1
29,3073762,3243,BROOKLYN,3,290664,4,255,255,2015-11-05T00:00:00.000,2,...,192845,13b,,309 011,31103,,0,,1,15v1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,3218339,7843,BROOKLYN,3,190656,18,4514,4514,2015-11-17T00:00:00.000,41,...,166276,23b,,315 034,32309,,0,,1,15v1
839,3045142,1645,BROOKLYN,3,331112,3,606,606,2015-11-09T00:00:00.000,23,...,189355,17a,,305 021,30605,,0,,1,15v1
840,3006501,408,BROOKLYN,3,216415,6,40,40,2015-11-09T00:00:00.000,26,...,188614,16c,,301 041,30203,,0,,1,15v1
841,3137915,5645,BROOKLYN,3,155306,12,939,939,2015-11-06T00:00:00.000,64,...,171995,22c,,306A042,31706,,0,,1,15v1
842,3390464,3754,BROOKLYN,3,897466,5,307,307,2015-11-12T00:00:00.000,7,...,183279,17d,,316 017,31206,,0,,1,15v1
843,3393811,2101,BROOKLYN,3,905606,2,268,268,2014-08-19T00:00:00.000,7504,...,189896,16c,,302 059,30706,,3021010066,5/27/2009,1,15v1
844,3119057,5169,BROOKLYN,3,220803,17,2515,2515,2015-11-04T00:00:00.000,36,...,173621,23a,,310 033,31603,,0,,1,15v1
845,3211918,7699,BROOKLYN,3,293155,18,3712,3712,2015-11-30T00:00:00.000,42,...,164594,23b,,319 007,32305,,0,,1,15v1
846,3185500,6863,BROOKLYN,3,202522,11,21,21,2015-11-16T00:00:00.000,32,...,157544,28c,,312 035,32101,,0,,1,15v1
847,3123949,5314,BROOKLYN,3,329270,12,55,55,2015-11-12T00:00:00.000,10,...,173517,22c,,306A052,31607,,0,,1,15v1
848,3081182,3532,BROOKLYN,3,383535,16,2119,2119,2015-11-25T00:00:00.000,8,...,181416,17b,,316 042,31202,,0,,1,15v1
849,3021333,987,BROOKLYN,3,131553,6,300,300,2015-11-10T00:00:00.000,23,...,184118,16c,,306 025,30402,,0,,1,15v1
850,3012255,765,BROOKLYN,3,153131,7,455,455,2015-11-12T00:00:00.000,53,...,174958,22a,,306A020,30305,,0,,1,15v1
851,3338927,5619,BROOKLYN,3,135611,12,4608,4608,2015-09-08T00:00:00.000,7501,...,172651,22c,,306A043,31706,,3056190041,12/31/1987,1,15v1
852,3061012,2226,BROOKLYN,3,365105,1,184,184,2015-11-10T00:00:00.000,15,...,195288,13b,,303 027,30803,,0,,1,15v1
853,3057043,1986,BROOKLYN,3,339206,3,71,71,2015-11-10T00:00:00.000,57,...,188860,17a,,305 014,30703,,0,,1,15v1
854,3053001,1843,BROOKLYN,3,306138,3,66,66,2015-11-17T00:00:00.000,11,...,187555,17a,,305 029,30611,,0,,1,15v1
855,3085007,3821,BROOKLYN,3,299923,5,535,535,2015-11-09T00:00:00.000,6,...,180983,17d,,316 031,31207,,0,,1,15v1
856,3144579,5852,BROOKLYN,3,166767,10,157,157,2015-11-04T00:00:00.000,57,...,171760,22a,,306A012,31801,,0,,1,15v1
857,3253213,5433,BROOKLYN,3,849240,12,4523,4523,2015-11-05T00:00:00.000,1,...,170255,22c,,310A006,31701,,0,,1,15v1
858,3324759,2220,BROOKLYN,3,809150,1,232,232,2015-11-05T00:00:00.000,4,...,195850,13b,,303 028,30803,,0,,1,15v1
859,3006138,391,BROOKLYN,3,388057,2,355,355,2015-11-06T00:00:00.000,50,...,188862,16c,,301 054,30203,,0,,1,15v1
860,3069251,2776,BROOKLYN,3,848216,1,293,293,2015-11-09T00:00:00.000,24,...,198925,13b,,304 023,30906,E-232,0,,1,15v1
861,3161382,6247,BROOKLYN,3,173232,11,1644,1644,2015-11-05T00:00:00.000,20,...,163091,22b,Y,312 055,31903,,0,,1,15v1
862,3201344,7384,BROOKLYN,3,253814,15,2254,2254,2015-11-30T00:00:00.000,28,...,156658,29a,,314 006,32204,,0,,1,15v1
863,3055333,1931,BROOKLYN,3,230226,2,296,296,2015-11-16T00:00:00.000,18,...,190432,16c,,302 061,30702,,0,,1,15v1
864,3056144,1964,BROOKLYN,3,216576,2,10,10,2015-11-06T00:00:00.000,40,...,189412,16c,,302 040,30703,,0,,1,15v1
865,3102727,4694,BROOKLYN,3,396068,17,1160,1160,2015-11-18T00:00:00.000,46,...,179016,17b,,316 061,31502,,0,,1,15v1
866,3043014,1591,BROOKLYN,3,396482,3,758,758,2016-01-07T00:00:00.000,31,...,192442,13b,,303 066,30604,,0,,1,15v1
867,3036923,1381,BROOKLYN,3,376531,8,1680,1680,2015-11-04T00:00:00.000,35,...,183660,17b,,307 048,30506,,0,,1,15v1

# Read the Assessment rolls from DOF website zips

In [11]:
tc1_source = 'http://www1.nyc.gov/assets/finance/downloads/tar/tc1_16.zip'
r = requests.get(tc1_source)
tc1_zip = zipfile.ZipFile(StringIO.StringIO(r.content))
tc1 = tc1_zip.read('tc1.mdb')
tc1_zip.close()
len(tc1)

825106432

#### dump the extracted Access Database into a tempfile

In [12]:
temp = tempfile.NamedTemporaryFile(delete=False)
temp.write(tc1)
temp.seek(0)
temp.close()

#### Connect to it to query some data and dump to a csv file

In [13]:
# connect to db
conn_str = 'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + temp.name
con = pypyodbc.connect(conn_str)
cur = con.cursor()

In [14]:
# run a query and get the results 
SQL = 'SELECT BBLE FROM tc1;' # your query goes here
rows = cur.execute(SQL).fetchall()
cur.close()
con.close()

In [17]:
rows[:10]

[(u'1000750043'),
 (u'1000780040'),
 (u'1000970017'),
 (u'1000970036'),
 (u'1000970044'),
 (u'1000970045'),
 (u'1000970055'),
 (u'1000970144'),
 (u'1001060002'),
 (u'1001060006')]

In [18]:
# you could change the mode from 'w' to 'a' (append) for any subsequent queries
with open('tc1_bble.csv', 'wb') as fou:
    csv_writer = csv.writer(fou) # default field-delimiter is ","
    csv_writer.writerows(rows)

#### don't forget to delete the temp file!

In [19]:
os.remove(temp.name)